@using lab1.Models.ViewModel
@model CreateStudentVM
@{
    ViewData["Title"] = "Edit";
	SelectList deptSelectList = new SelectList(Model.Departments, "DeptID", "DeptName");
}

<h1>Edit @Model.student.Name</h1>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="student.Id" />
    <div class="form-group">
        <label asp-for="student.Name"></label>
        <input asp-for="student.Name" class="form-control" />
        <span asp-validation-for="student.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="student.Age"></label>
        <input asp-for="student.Age" class="form-control" />
		<span asp-validation-for="student.Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="student.Email"></label>
        <input asp-for="student.Email" class="form-control" />
		<span asp-validation-for="student.Email" class="text-danger"></span>
    </div>



    <div class="form-group">
        <label asp-for="student.DeptID"></label>
            <select asp-for="student.DeptID" class="form-control" asp-items="deptSelectList"></select>
        <span asp-validation-for="student.DeptID" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
